<h1>List of Authors</h1>

<% @authors.each do |author| %>
    <h3><%= author.name %></h3>
    <p>Added: <%= author.created_at %></p><hr>
    <p><%= link_to "Update #{author.name}", "/authors/#{author.id}/edit" %></p>
<% end %>

<%= link_to "New Author", "/authors/new" %>